* {
	box-sizing: border-box;
}

body {
	margin: 0;
	background: #e8dfd6;
	font-family: 'Georgia', serif;
}

/* Центрирующая сцена */
.stage {
	padding: 20px;
}

/* Фиксированная открытка 1600x900 */
.card {
	position: relative;

	width: 100%;
	max-width: 1600px;

	aspect-ratio: 1600 / 2400;

	margin: 0 auto;

	background: url('img/invitetwo.png') center/cover no-repeat;

	box-shadow: 0 30px 80px rgba(0, 0, 0, 0.25);
}

/* Адаптивный scale */
/* @media (max-width: 1600px), (max-height: 900px) {
	.card {
		transform: scale(min(calc(100vw / 1600), calc(100vh / 900)));
	}
} */

/* ===== ШТОРКА ===== */

.curtain {
	position: absolute;
	inset: 0;
	display: flex;
	z-index: 5;
}

.panel {
	flex: 1;
	background:
		linear-gradient(180deg, rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.08)),
		linear-gradient(90deg, #e7dccf, #d9cbbd);
	box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
	transition: transform 1.4s cubic-bezier(0.22, 1, 0.36, 1);
}

.left {
	transform: translateX(0);
}

.right {
	transform: translateX(0);
}

/* открытие */
body.open .left {
	transform: translateX(-100%);
}

body.open .right {
	transform: translateX(100%);
}

.overlay-text {
	position: absolute;
	inset: 0;
	pointer-events: none;
	font-family: 'Georgia', serif;
	color: #3f372f;
}

.line {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	max-width: 90%;

	padding-bottom: 6px; /* отступ до линии */
	border-bottom: 4px solid #6c584f;
}

.names {
	top: 27%;
	font-size: clamp(28px, 4.5vw, 64px);
}

.date {
	top: 34%;
	font-size: clamp(14px, 1.8vw, 24px);
}

.place {
	top: 37.5%;
	font-size: clamp(14px, 1.6vw, 22px);
}
